.main-screen{
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: url(img/bg.jpg) no-repeat;
	background-position: center;
  	background-size: cover;
  	&__inner{
  		height: 100vh;
		@include flex-between;
		flex-direction: column;
  	}
  	&__buttons{
  		min-width: 415px;
  		margin: 0 auto 150px;
  		@include flex-between;
  	}
}
.about{
	margin: 100px 0;
	border: 3px solid #C4C4C4;
	text-align: center;
	padding: 60px 190px;
	color: $primery-color;
	&__line{
		width: 160px;
		border-top: 1px solid #C4C4C4;
		margin: 40px auto;
	}
	&__img{
		margin-top: 50px;
	}
}
.collection{
	padding: 80px 0;
	background: $bg-light;
	color: $color-dark;
	&__inner{
		max-width: 1110px;
		@include flex-between;
		border-top: 1px solid $bg-accent;
		border-bottom: 1px solid $bg-accent;
		padding: 60px 0;
	}
	&__description{
		flex: 0 1 445px;
		margin-right: 15px;
	}
	&__title{
		max-width: 300px;
		margin-top: 30px;
	}
	&__line{
		width: 160px;
		border-top: 1px solid $color-dark;
		margin: 30px 0;
	}
	&__table{
		margin: 30px 0;
	}
	&__btn{
		max-width: 254px;
		margin-top: 30px;
	}
	&__picture{
		flex: 0 1 540px;
		@include flex-between;
		flex-wrap: wrap;
		img:first-child{
			margin-bottom: 30px;
		}
	}
	&__hover{
		position: absolute;
		border: 1px solid $color-dark;
		top: 0;
		left: 0;
		right: 0;
		margin: 100px auto 0;
		width: 240px;
		height: 130px;
		opacity: 0;
		background: #f2f3f896;
		z-index: 2;
		@include flex-center;
		font-family: $secondary-font;
		font-size: 18px;
		line-height: 150%;
		font-weight: 600;
		text-align: center;
		transform: translateY(-50%);
		transition: all 0.5s ease;
		&:after{
			position: absolute;
			content: "";
		    background: #f2f3f896;
			border: 1px	 solid $color-dark;
			width: 220px;
			z-index: -1;
			height: 110px;
			padding: 0 20px;
		}
	}
	&__img{
		position: relative;
		&:hover{
			transition: all 0.5s ease;
			.collection__hover{
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
}
.table{
	&__row{
		display: flex;
		border-bottom: 1px solid $color-dark;
		&:last-child{
			border-bottom: none;
		}
	}
	&__item_text{
		border-left: 1px solid $color-dark;
	}
	&__item{
		min-height: 76px;
		@include flex-center;
		padding: 0 24px;
	}
	&__hedline{
		font-family: $secondary-font;
		font-size: 18px;
		line-height: 150%;
		font-weight: 600;
	}
}
.form{
    margin: 100px 0;
    border: 3px solid $color-border;
    text-align: center;
    padding: 65px 282px 80px;
    color: $primery-color;
    position: relative;
	&__title,
	&__img{
		position: absolute;
	}
	&__title{
		width: 490px;
		background: $color-dark;
		top: -6.5%;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	&__img:nth-child(3){
		top: -64px;
		right: -53px;
	}
	&__img:nth-child(2){
		top: -70px;
		left: -30px;
	}
	&__line{
		width: 160px;
		border-top: 1px solid $color-border;
		margin: 0 auto 40px;
	}
	&__body{
		@include flex-between;
		flex-wrap: wrap;
		margin-top: 40px;
	}
	&__input{
		background: none;
		border: none;
		padding: 10px 0;
		margin-top: 30px;
		border-bottom: 1px solid $primery-color;
		font-family: $primery-font;
		font-weight: 500;
		font-size: 13px;
		line-height: 150%;
		color: $primery-color;
		flex: 0 1 47%;
		position: relative;
	}
	&__input:nth-child(3){
		flex: 0 1 100%;
	}
	&__input:focus{
		outline: none;
	}
	input::placeholder {
		color: $primery-color;
		font-size: 13px;
		line-height: 150%;
	}
	&__btn{
		width: 100%;
		border: none;
		background: none;
		border: 1px solid $primery-color;
		font-family: $primery-font;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: $primery-color;
		padding: 15px 0;
		margin-top: 50px;
		cursor: pointer;
		position: relative;
		&:before{
			position: absolute;
			content: '';
			width: 0;
			height: 100%;
			background: $primery-color;
			top: 0;
			left: 0;
			transition: all 0.5s ease;
		}
		&:hover{
			color: $color-dark;
			z-index: 2;
			&:before{
				position: absolute;
				content: '';
				width: 100%;
				height: 100%;
				background: $primery-color;
				z-index: -1;
				transition: all 0.5s ease;
			}
		}
	}
}