.footer{
	background: $bg-accent;
	padding: 50px 0;
	&__row{
		border-top: 1px solid $primery-color;
		border-bottom: 1px solid $primery-color;
		box-sizing: border-box;
		padding: 0 50px;
		@include flex-between;
	}
	&__row:last-child{
		border-top: none;
		border-bottom: none;
		padding: 0;
	}
	&__link{
		height: 58px;
		flex: 0 1 auto;
		padding: 0 10px;
		@include flex-center;
		color: $primery-color;
		transition: all 0.5s ease;
		&:hover{
			padding: 0 15px;
			color: $color-dark;
			transition: all 0.5s ease;
		}
	}
	&__item{
		@include flex-center;
		height: 58px;
		flex: 0 1 25%;
		border-left: 1px solid $primery-color;
		border-bottom: 1px solid $primery-color;
		color: $primery-color;
	}
	&__item:first-child{
		border-left: none;
	}
	&__social{
		padding: 0 15px;
		transition: all 0.5s ease;
		&:hover{
			svg{
				path{
					fill: $color-dark;
					transition: all 0.5s ease;
				}
			}
		}
	}
}