body {
	overflow-x: hidden;
	img{
		max-width: 100%;
	}
	input:focus{
		outline: none;
	}
	a{
		text-decoration: none;
	}
}
.wrraper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: $color-dark;
}
.container{
	max-width: 1110px;
	position: relative;
	margin: 0 auto;
	padding: 0 15px;
}
.title{
	font-family: $secondary-font;
	font-size: 36px;
	line-height: 150%;
}
.text-big{
	font-family: $primery-font;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
}
.text{
	font-family: $primery-font;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
}
.btn{
	font-family: $primery-font;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: $primery-color;
	background: $bg-accent;
	padding: 15px 30px;
	cursor: pointer;
	position: relative;
	&:before{
		position: absolute;
		content: '';
		width: 100%;
		height: 0;
		background: $color-dark;
		top: 0;
		left: 0;
		transition: all 0.5s ease;
	}
	&:hover{
		z-index: 2;
		&:before{
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			background: $color-dark;
			z-index: -1;
			transition: all 0.5s ease;
		}
	}
}
@mixin flex-between {
	display: flex;
	justify-content: space-between;
}
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}