.header{
	&__row{
		@include flex-between;
		padding: 30px 0 0;
	}
	&__adress,
	&__tel{
		font-family: $primery-font;
		font-weight: 500;
		font-size: 13px;
		line-height: 150%;
		color: $primery-color;
		z-index: 30;
	}
	&__items{
		max-width: 1110px;
		padding: 20px 0;
		@include flex-between;
	}
	&__item{
		min-height: 40px;
		flex: 0 1 25%;
		@include flex-center;
		border: 1px solid $primery-color;
		border-left: none;
		position: relative;
		color: $primery-color;
		&:before{
			position: absolute;
			content: '';
			width: 0;
			height: 100%;
			background: $primery-color;
			top: 0;
			left: 50%;
			transition: all 0.5s ease;
		}
		&:hover{
			z-index: 2;
			color: $color-dark;
			&:before{
				position: absolute;
				content: '';
				width: 100%;
				height: 100%;
				background: $primery-color;
				top: 0;
				left: 0;
				z-index: -1;
				transition: all 0.5s ease;
			}
		}
		&:nth-child(4){
			border-right: none;
		}
	}
	&.fixed{
		.header__row{
			margin-bottom: 82px;
			transition: all 0.4s ease 0s; 
		}
		.header__items{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: 30;
			padding: 20px 15px;
			background: $bg-accent;
			transition: all 0.4s ease 0s; 
			&:before,
			&:after{
				position: absolute;
				content: "";
				right: 100%;
				top: 0;
				height: 100%;
				display: block;
				width: 50vw;
				background: $bg-accent;
				z-index: -1;
			}
			&:before{
				right: 100%;
			}
			&:after{
				left: 100%;
			} 
		}
	}
	&__logo{
		display: none;
		color: $primery-color;
		font-family: $secondary-font;
		font-size: 16px;
		line-height: 150%;
		z-index: 30;
	}
	&__burger{
	   	display: none;
	   	height: 18px;
	   	width: 20px;
	   	position: relative;
	   	cursor: pointer;
	   	z-index: 30;
	   	span{
	      	content: " ";
	      	background: $primery-color;
	      	position: absolute;
	      	width: 100%;
	      	height: 2px;
	      	top: 8px;
	      	transition: all 0.7s ease 0s; 
	   	}
	   	&:before,
	   	&:after{
			content: " ";
	      	background: $primery-color;
	      	position: absolute;
	      	width: 100%;
	      	height: 2px;
	      	border-radius: 5px;
	      	transition: all 0.7s ease 0s; 
	   	}
	   	&:before{
	      	top: 0;
	   	}
	   	&:after{
	      	bottom: 0;
	   	}
	   	&.active {
	      	span{
	         	transform: scale(0);
	      	}
	   	}
	   	&.active:before{
			transform: rotate(45deg);
			top: 8px;
	   	}
	   	&.active:after{
	      	transform: rotate(-45deg);
	      	bottom: 8px;
	   	}
	}
	&__burger-menu{
		position: fixed;
		top: 0;
		right: 0;
		width: 100vw;
		height: 55vh;
		background: $bg-accent;
		z-index: 10;
		transform-origin: top right;
		transform: scale(0);
		transition: all 0.6s ease 0s;
		&.active{
			transform: scale(1);
			transition: all 0.6s ease 0s;
		}
	   	.header__nav{
	      	display: block;
	      	margin-top: 140px;
	      	text-align: center;
	      	.header__link{
	      		display: block;
	      		border-top: 1px solid $primery-color;
	        	padding: 10px 0; 
	        	color: $primery-color;
	      	}
	      	.header__link:last-child{
	      		border-bottom: 1px solid $primery-color;
	      	}
	   	}   
	}
}
