@media (max-width: 1200px) {
	.about{
		padding: 60px 120px;
	}
	.form{
		padding: 60px 225px;
	}
	.form__title{
		width: fit-content;
    	padding: 0 20px;
	}
	.form__img:nth-child(3){
		width: 220px;
		right: -35px;
	}
	.form__img:nth-child(2){
		width: 220px;
		left: -10px;
	}
}
@media (max-width: 992px) {
	.title{
		font-size: 28px;
	}
	.about{
		padding: 50px 80px;
		margin: 80px 0;
	}
	.collection__description{
		flex: 0 0 445px;
	}
	.collection__picture{	
    	justify-content: center;
	}
	.collection__img img{
		width: 255px;
	}
	.collection__picture img:first-child{
		margin-bottom: 15px;
	}
	.collection__hover{
		display: none;
	}
	.form__title{
	    top: -5%;
	}
	.form__img:nth-child(3), .form__img:nth-child(2){
		width: 180px;
	}
	.form{
	    padding: 40px 170px;
	    margin-bottom: 80px;
	}
	.footer__row{
		padding: 0;
	}
}
@media (max-width: 767px) {
	.title {
    	font-size: 24px;
	}
	.text-big, .btn, .form__btn{
		font-size: 14px;
	}
	.btn, .form__btn{
		padding: 5px 15px;
	}
	.about{
		padding: 40px 60px;
		margin: 60px 0;
	}
	.about__line{
		margin: 30px auto;
	}
	.about__img{
		margin-top: 30px;
	}
	.about__img img{
		widows: 120px;
		height: 120px;
	}
	.collection{
		padding: 60px 0;
	}
	.collection__inner{
		padding: 40px 0;
		flex-wrap: wrap;
		justify-content: center;
	}
	.collection__description{
		text-align: center;
		flex: 0 1 445px;
	}
	.collection__title, .collection__line, .collection__btn{
		margin: 30px auto;
	}
	.collection__btn{
		min-width: 200px;
	}
	.collection__picture{	
    	justify-content: space-between;
	}
	.collection__img img{
		width: 100%;
	}
	.form{
        padding: 40px 110px;
	    margin: 60px 0;
	}
	.form__img:nth-child(3){
		width: 130px;
		top: -45px;
		right: -30px;
	}
	.form__img:nth-child(2){
		width: 130px;
	    top: -45px;
	}
	.form__line{
		margin-bottom: 30px;
	}
	.form__body{
		margin: 0;
	}
	.form__btn{
		margin-top: 30px;
	}
	.form__input{
		flex: 1 1 47%;
		padding: 5px 0;
	}
	.form__input:first-child{
		margin-right: 10px;
	}
	.footer__link{
	    height: 45px;
	}
	.footer__row{
		flex-wrap: wrap;
		justify-content: center;
	}
	.footer__item{
		flex: 0 1 49%;
	    height: 45px;
	}
	.footer__item:nth-child(3){
		border-left: none;
	}
	.header__item{
		display: none;
	}
	.header__burger, .header__logo{
		display: block;
	}
}
@media (max-width: 576px) {
	.title {
    	font-size: 18px;
	}
	.text-big, .text{
		font-size: 12px;
	}
	.btn, .form__btn{
		font-size: 10px;
	}
	.main-screen__buttons{
		min-width: 270px;
		margin-bottom: 100px;
	}
	.about{
		padding: 20px;
		margin: 40px 0;
	}
	.collection, .footer{
		padding: 40px 0;
	}
	.collection__inner{
		padding: 20px 0;
	}
	.table__hedline{
		font-size: 14px;
	}
	.about__line, .collection__title, .collection__line, .collection__btn, .collection__table{
		margin: 20px auto;
	}
	.collection__picture{
		justify-content: center;
	}
	.collection__img:nth-child(2), .collection__img:nth-child(3){
		display: none;
	}
	.table__item{
		padding: 0 10px;
	}
	.form__img:nth-child(3), .form__img:nth-child(2){
		display: none;
	}
	.form__title{
		top: -5%;
	}
	.form{
		padding: 20px;
		margin: 40px 0;
	}
	.form__line{
		margin-bottom: 20px;
	}
	.form__input{
		margin-top: 20px;
	}
	.footer__item{
		flex: 0 1 100%;
	    height: 45px;
	}
	.footer__item{
		border-left: none;
	}
	.header__adress, .header__tel{
		font-size: 10px;
	}
	.header__row{
		padding: 15px 0 0;
	}
	.header.fixed .header__row{
		margin-bottom: 64px;
	}
}