@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display&display=swap');

$primery-font: 'Montserrat', sans-serif;
$secondary-font: 'Playfair Display', serif;

$primery-color:  #ffffff;
$color-dark: #282828;
$bg-light: #E6E3C4;
$bg-accent: #998431;
$color-border: #C4C4C4;