/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  overflow-x: hidden; }
  body img {
    max-width: 100%; }
  body input:focus {
    outline: none; }
  body a {
    text-decoration: none; }

.wrraper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #282828; }

.container {
  max-width: 1110px;
  position: relative;
  margin: 0 auto;
  padding: 0 15px; }

.title {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  line-height: 150%; }

.text-big {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%; }

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%; }

.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background: #998431;
  padding: 15px 30px;
  cursor: pointer;
  position: relative; }
  .btn:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    background: #282828;
    top: 0;
    left: 0;
    transition: all 0.5s ease; }
  .btn:hover {
    z-index: 2; }
    .btn:hover:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: #282828;
      z-index: -1;
      transition: all 0.5s ease; }

.header__row {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 0; }
.header__adress, .header__tel {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #ffffff;
  z-index: 30; }
.header__items {
  max-width: 1110px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between; }
.header__item {
  min-height: 40px;
  flex: 0 1 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  border-left: none;
  position: relative;
  color: #ffffff; }
  .header__item:before {
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    background: #ffffff;
    top: 0;
    left: 50%;
    transition: all 0.5s ease; }
  .header__item:hover {
    z-index: 2;
    color: #282828; }
    .header__item:hover:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: #ffffff;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.5s ease; }
  .header__item:nth-child(4) {
    border-right: none; }
.header.fixed .header__row {
  margin-bottom: 82px;
  transition: all 0.4s ease 0s; }
.header.fixed .header__items {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 30;
  padding: 20px 15px;
  background: #998431;
  transition: all 0.4s ease 0s; }
  .header.fixed .header__items:before, .header.fixed .header__items:after {
    position: absolute;
    content: "";
    right: 100%;
    top: 0;
    height: 100%;
    display: block;
    width: 50vw;
    background: #998431;
    z-index: -1; }
  .header.fixed .header__items:before {
    right: 100%; }
  .header.fixed .header__items:after {
    left: 100%; }
.header__logo {
  display: none;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  line-height: 150%;
  z-index: 30; }
.header__burger {
  display: none;
  height: 18px;
  width: 20px;
  position: relative;
  cursor: pointer;
  z-index: 30; }
  .header__burger span {
    content: " ";
    background: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 8px;
    transition: all 0.7s ease 0s; }
  .header__burger:before, .header__burger:after {
    content: " ";
    background: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    transition: all 0.7s ease 0s; }
  .header__burger:before {
    top: 0; }
  .header__burger:after {
    bottom: 0; }
  .header__burger.active span {
    transform: scale(0); }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 8px; }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 8px; }
.header__burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 55vh;
  background: #998431;
  z-index: 10;
  transform-origin: top right;
  transform: scale(0);
  transition: all 0.6s ease 0s; }
  .header__burger-menu.active {
    transform: scale(1);
    transition: all 0.6s ease 0s; }
  .header__burger-menu .header__nav {
    display: block;
    margin-top: 140px;
    text-align: center; }
    .header__burger-menu .header__nav .header__link {
      display: block;
      border-top: 1px solid #ffffff;
      padding: 10px 0;
      color: #ffffff; }
    .header__burger-menu .header__nav .header__link:last-child {
      border-bottom: 1px solid #ffffff; }

.main-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url(img/bg.jpg) no-repeat;
  background-position: center;
  background-size: cover; }
  .main-screen__inner {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
  .main-screen__buttons {
    min-width: 415px;
    margin: 0 auto 150px;
    display: flex;
    justify-content: space-between; }

.about {
  margin: 100px 0;
  border: 3px solid #C4C4C4;
  text-align: center;
  padding: 60px 190px;
  color: #ffffff; }
  .about__line {
    width: 160px;
    border-top: 1px solid #C4C4C4;
    margin: 40px auto; }
  .about__img {
    margin-top: 50px; }

.collection {
  padding: 80px 0;
  background: #E6E3C4;
  color: #282828; }
  .collection__inner {
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #998431;
    border-bottom: 1px solid #998431;
    padding: 60px 0; }
  .collection__description {
    flex: 0 1 445px;
    margin-right: 15px; }
  .collection__title {
    max-width: 300px;
    margin-top: 30px; }
  .collection__line {
    width: 160px;
    border-top: 1px solid #282828;
    margin: 30px 0; }
  .collection__table {
    margin: 30px 0; }
  .collection__btn {
    max-width: 254px;
    margin-top: 30px; }
  .collection__picture {
    flex: 0 1 540px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .collection__picture img:first-child {
      margin-bottom: 30px; }
  .collection__hover {
    position: absolute;
    border: 1px solid #282828;
    top: 0;
    left: 0;
    right: 0;
    margin: 100px auto 0;
    width: 240px;
    height: 130px;
    opacity: 0;
    background: #f2f3f896;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-size: 18px;
    line-height: 150%;
    font-weight: 600;
    text-align: center;
    transform: translateY(-50%);
    transition: all 0.5s ease; }
    .collection__hover:after {
      position: absolute;
      content: "";
      background: #f2f3f896;
      border: 1px solid #282828;
      width: 220px;
      z-index: -1;
      height: 110px;
      padding: 0 20px; }
  .collection__img {
    position: relative; }
    .collection__img:hover {
      transition: all 0.5s ease; }
      .collection__img:hover .collection__hover {
        opacity: 1;
        transform: translateY(0); }

.table__row {
  display: flex;
  border-bottom: 1px solid #282828; }
  .table__row:last-child {
    border-bottom: none; }
.table__item_text {
  border-left: 1px solid #282828; }
.table__item {
  min-height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px; }
.table__hedline {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 600; }

.form {
  margin: 100px 0;
  border: 3px solid #C4C4C4;
  text-align: center;
  padding: 65px 282px 80px;
  color: #ffffff;
  position: relative; }
  .form__title, .form__img {
    position: absolute; }
  .form__title {
    width: 490px;
    background: #282828;
    top: -6.5%;
    left: 0;
    right: 0;
    margin: 0 auto; }
  .form__img:nth-child(3) {
    top: -64px;
    right: -53px; }
  .form__img:nth-child(2) {
    top: -70px;
    left: -30px; }
  .form__line {
    width: 160px;
    border-top: 1px solid #C4C4C4;
    margin: 0 auto 40px; }
  .form__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px; }
  .form__input {
    background: none;
    border: none;
    padding: 10px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: #ffffff;
    flex: 0 1 47%;
    position: relative; }
  .form__input:nth-child(3) {
    flex: 0 1 100%; }
  .form__input:focus {
    outline: none; }
  .form input::placeholder {
    color: #ffffff;
    font-size: 13px;
    line-height: 150%; }
  .form__btn {
    width: 100%;
    border: none;
    background: none;
    border: 1px solid #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    padding: 15px 0;
    margin-top: 50px;
    cursor: pointer;
    position: relative; }
    .form__btn:before {
      position: absolute;
      content: '';
      width: 0;
      height: 100%;
      background: #ffffff;
      top: 0;
      left: 0;
      transition: all 0.5s ease; }
    .form__btn:hover {
      color: #282828;
      z-index: 2; }
      .form__btn:hover:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: #ffffff;
        z-index: -1;
        transition: all 0.5s ease; }

.footer {
  background: #998431;
  padding: 50px 0; }
  .footer__row {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    box-sizing: border-box;
    padding: 0 50px;
    display: flex;
    justify-content: space-between; }
  .footer__row:last-child {
    border-top: none;
    border-bottom: none;
    padding: 0; }
  .footer__link {
    height: 58px;
    flex: 0 1 auto;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition: all 0.5s ease; }
    .footer__link:hover {
      padding: 0 15px;
      color: #282828;
      transition: all 0.5s ease; }
  .footer__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    flex: 0 1 25%;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    color: #ffffff; }
  .footer__item:first-child {
    border-left: none; }
  .footer__social {
    padding: 0 15px;
    transition: all 0.5s ease; }
    .footer__social:hover svg path {
      fill: #282828;
      transition: all 0.5s ease; }

@media (max-width: 1200px) {
  .about {
    padding: 60px 120px; }

  .form {
    padding: 60px 225px; }

  .form__title {
    width: fit-content;
    padding: 0 20px; }

  .form__img:nth-child(3) {
    width: 220px;
    right: -35px; }

  .form__img:nth-child(2) {
    width: 220px;
    left: -10px; } }
@media (max-width: 992px) {
  .title {
    font-size: 28px; }

  .about {
    padding: 50px 80px;
    margin: 80px 0; }

  .collection__description {
    flex: 0 0 445px; }

  .collection__picture {
    justify-content: center; }

  .collection__img img {
    width: 255px; }

  .collection__picture img:first-child {
    margin-bottom: 15px; }

  .collection__hover {
    display: none; }

  .form__title {
    top: -5%; }

  .form__img:nth-child(3), .form__img:nth-child(2) {
    width: 180px; }

  .form {
    padding: 40px 170px;
    margin-bottom: 80px; }

  .footer__row {
    padding: 0; } }
@media (max-width: 767px) {
  .title {
    font-size: 24px; }

  .text-big, .btn, .form__btn {
    font-size: 14px; }

  .btn, .form__btn {
    padding: 5px 15px; }

  .about {
    padding: 40px 60px;
    margin: 60px 0; }

  .about__line {
    margin: 30px auto; }

  .about__img {
    margin-top: 30px; }

  .about__img img {
    widows: 120px;
    height: 120px; }

  .collection {
    padding: 60px 0; }

  .collection__inner {
    padding: 40px 0;
    flex-wrap: wrap;
    justify-content: center; }

  .collection__description {
    text-align: center;
    flex: 0 1 445px; }

  .collection__title, .collection__line, .collection__btn {
    margin: 30px auto; }

  .collection__btn {
    min-width: 200px; }

  .collection__picture {
    justify-content: space-between; }

  .collection__img img {
    width: 100%; }

  .form {
    padding: 40px 110px;
    margin: 60px 0; }

  .form__img:nth-child(3) {
    width: 130px;
    top: -45px;
    right: -30px; }

  .form__img:nth-child(2) {
    width: 130px;
    top: -45px; }

  .form__line {
    margin-bottom: 30px; }

  .form__body {
    margin: 0; }

  .form__btn {
    margin-top: 30px; }

  .form__input {
    flex: 1 1 47%;
    padding: 5px 0; }

  .form__input:first-child {
    margin-right: 10px; }

  .footer__link {
    height: 45px; }

  .footer__row {
    flex-wrap: wrap;
    justify-content: center; }

  .footer__item {
    flex: 0 1 49%;
    height: 45px; }

  .footer__item:nth-child(3) {
    border-left: none; }

  .header__item {
    display: none; }

  .header__burger, .header__logo {
    display: block; } }
@media (max-width: 576px) {
  .title {
    font-size: 18px; }

  .text-big, .text {
    font-size: 12px; }

  .btn, .form__btn {
    font-size: 10px; }

  .main-screen__buttons {
    min-width: 270px;
    margin-bottom: 100px; }

  .about {
    padding: 20px;
    margin: 40px 0; }

  .collection, .footer {
    padding: 40px 0; }

  .collection__inner {
    padding: 20px 0; }

  .table__hedline {
    font-size: 14px; }

  .about__line, .collection__title, .collection__line, .collection__btn, .collection__table {
    margin: 20px auto; }

  .collection__picture {
    justify-content: center; }

  .collection__img:nth-child(2), .collection__img:nth-child(3) {
    display: none; }

  .table__item {
    padding: 0 10px; }

  .form__img:nth-child(3), .form__img:nth-child(2) {
    display: none; }

  .form__title {
    top: -5%; }

  .form {
    padding: 20px;
    margin: 40px 0; }

  .form__line {
    margin-bottom: 20px; }

  .form__input {
    margin-top: 20px; }

  .footer__item {
    flex: 0 1 100%;
    height: 45px; }

  .footer__item {
    border-left: none; }

  .header__adress, .header__tel {
    font-size: 10px; }

  .header__row {
    padding: 15px 0 0; }

  .header.fixed .header__row {
    margin-bottom: 64px; } }

/*# sourceMappingURL=style.css.map */
